main{
    margin: auto;
    margin-top: 200px;
    background-color: lightgray;
    border: 0.5px solid black;
    border-radius: 5px;
    width: 220px;
    height: 310px;
    text-align: center;
}
h1{
    margin: 15px;
}
.opis{
    word-wrap: break-word;
    font-size: 12px;
    text-align: left;
    line-height: 1.5;
    max-width: 190px;
    margin-left: 20px;
}
.price{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 20px;
    margin-top: 3px;
    display: inline-block;
    float: left;
}
button{
    border: none;
    background-color: rgb(31, 67, 230);
    color: white;
    font-weight: bolder;
    border-radius: 14px;
    float: right;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}